.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(36px + 2vmin);
  background-color: gray;
  min-height: 100vh;
}
.Span{
  padding: 15px ;
}
.Button{
  font-size: 16pt;
}